<div id="Dillon.CheckInView"></div>
<script>
  import { Elm } from "../../Dillon/CheckInView.elm";

  Elm.Dillon.CheckInView.init({
    node: document.getElementById("Dillon.CheckInView")
  });
</script>
