<div id="Dillon.ComplexSignUpView"></div>
<script>
  import { Elm } from "../../Dillon/ComplexSignUpView.elm";

  Elm.Dillon.ComplexSignUpView.init({
    node: document.getElementById("Dillon.ComplexSignUpView")
  });
</script>
