<div id="TemperatureConverter.Main"></div>
<script>
  import { Elm } from "../TemperatureConverter/Main.elm";

  Elm.TemperatureConverter.Main.init({
    node: document.getElementById("TemperatureConverter.Main")
  });
</script>
