<div id="Dillon.SimpleSignUpView"></div>
<script>
  import { Elm } from "../../Dillon/SimpleSignUpView.elm";

  Elm.Dillon.SimpleSignUpView.init({
    node: document.getElementById("Dillon.SimpleSignUpView")
  });
</script>
