<div id="FlightBooker.Main"></div>
<script>
  import { Elm } from "../FlightBooker/Main.elm";

  const app = Elm.FlightBooker.Main.init({
    node: document.getElementById("FlightBooker.Main")
  });

  app.ports.alert.subscribe((message: String) => {
    window.alert(message);
  });
</script>
